# Google Places API Key
# Get this from Google Cloud Console: https://console.cloud.google.com/
# Make sure to enable Places API and Maps JavaScript API
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here